.default-scrollbar {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 15px;
    }

    &::-webkit-scrollbar-thumb {
        background: #f4eee0;
        border: 2px solid rgba(193, 65, 57, 0.8);
        border-radius: 15px;
    }

    &::-webkit-scrollbar:horizontal {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background-color: transparent;
    }
}

.container {
    width: 100%; 
    height: 100%;
    overflow-y: auto;
}